@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&family=Outfit:wght@400;500;700&family=Urbanist:wght@400;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Outfit", sans-serif;
  background: #f5f5f5;
}
.d-flex {
  display: flex;
}
.flex-col {
  flex-direction: column;
}
.f-wrap {
  flex-wrap: wrap;
}
.f-col {
  flex-direction: column;
}
.j-center {
  justify-content: center;
}
.j-between {
  justify-content: space-between;
}
.i-center {
  align-items: center;
}
.i-base {
  align-items: baseline;
}
.nav-wrapper {
  padding: 20px 30px;
  background: #f5f5f5;
}
.logo {
  width: 52px;
  height: 52px;
}
.logo-text {
  font-size: 32px;
  line-height: 40.32px;
}
.mr-2 {
  margin-right: 8px;
}
.mt-10 {
  margin-top: 100px;
}
.my-10 {
  margin-top: 100px;
  margin-bottom: 100px;
}

.vector {
  width: 25px;
  height: 25px;
  cursor: pointer;
}
.pink-color {
  color: #f61b5a;
}
.orange-color {
  color: #fe8a00;
}
.fw-500 {
  font-weight: 500;
}
.relative {
  position: relative;
}
.absolute {
  position: absolute;
}

.text-center {
  text-align: center;
}
.d-none {
  display: none;
}
.ad-wrapper {
  background: url("./assets/ad.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 365px;
}
.hero-text {
  text-align: center;
  align-self: center;
  color: #ffffff;
  max-width: 350px;
  font-size: 40px;
  line-height: 50px;
  z-index: 1;
}
.hero-icons {
  position: absolute;
  left: 18%;
}
.poster-img {
  position: relative;
  border-radius: 10px;
  width: 320px;
  height: 320px;
  object-fit: contain;
}
.notfound-text {
  font-size: 60px;
}
.h-75 {
  height: 75vh;
}
.products-heading {
  font-weight: 500;
  font-size: 40px;
  line-height: 50px;
  text-align: center;
  color: #000000bf;
  margin-top: 48px;
  margin-bottom: 35px;
}
.products-wrapper {
  row-gap: 58px;
  column-gap: 28px;
}
.heart-icon-wrapper {
  width: 42px;
  height: 42px;
  background: #fff;
  display: flex;
  top: 7%;
  right: 7%;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  cursor: pointer;
}
.heart-icon {
  background: #fff;
  width: 16px;
  height: 15px;
}
.info-card {
  font-family: "Outfit";
  color: rgba(0, 0, 0, 0.75);
  margin-bottom: 8px;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
}
.info-card > :last-child > p {
  font-size: 20px;
  line-height: 25px;
}
.description-card {
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  color: rgba(0, 0, 0, 0.5);
  max-width: 320px;
}
.more-btn {
  font-weight: 500;
  font-size: 20px;
  line-height: 25px;
  text-align: center;
  color: #f61b5a;
  background: #fff;
  padding: 5px 36px;
  /* margin-top: 45px;
  margin-bottom: 90px; */
  border-radius: 31.5px;
}
.m-more-btn {
  margin-top: 45px;
  margin-bottom: 90px;
}
.product-wrapper {
  padding: 61px 100px 50px 63px;
  background: rgba(0, 0, 0, 0.025);
  gap: 65px;
}
.productdetails-img {
  flex: 1.55;
}
.productdetails-img > img {
  width: 100%;
}
.productdetails-info {
  flex: 1;
}
.newbadge {
  background: #eef0f2;
  border-radius: 6px;
  padding: 2.91px 27.5px 2.91px 8px;
  font-weight: 600;
  font-size: 14px;
  line-height: 24px;

  letter-spacing: -0.006em;

  color: #252c32;
}

.product-details-heading-font {
  font-family: "Inter";
  font-weight: 700;
  font-size: 36px;
  line-height: 48px;

  letter-spacing: -0.022em;

  color: #252c32;
  margin-top: 10px;
}
.product-details-brand-font {
  font-family: "Inter";
  font-size: 14px;
  line-height: 24px;

  letter-spacing: -0.006em;

  color: #6e7c87;
  margin-top: 10px;
  margin-bottom: 30px;
}
.product-details-description-font {
  font-family: "Inter";
  font-size: 14px;
  line-height: 24px;

  letter-spacing: -0.006em;

  color: #252c32;
}
.add-to-card-btn {
  font-family: "Outfit";
  font-weight: 500;
  font-size: 20px;
  line-height: 25px;
  text-align: center;
  color: #f61b5a;
  background: #ffffff;
  border-radius: 31.5px;
  padding: 15px 0px;
  width: 100%;
  margin-top: 80px;
  margin-bottom: 33px;
}
.m-0 {
  margin: 0;
}
.login-heading {
  font-family: "Urbanist";
  font-weight: 600;
  font-size: 28px;
  line-height: 36px;
  text-align: center;
  color: #1a2530;
  letter-spacing: 1px;
}
.login-subheading {
  font-family: "Urbanist";
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  color: #707b81;
}
.login-content {
  max-width: 55%;
  margin: auto;
}
.login-content > :nth-child(3) {
  font-family: "Urbanist";
  font-size: 18px;
  line-height: 140%;
  letter-spacing: 0.2px;
  color: #212121;
  align-self: flex-start;
  margin-top: 32px;
  margin-bottom: 32px;
}
.login-form {
  align-self: flex-start;
  width: 100%;
}
.login-form > label {
  font-family: "Urbanist";
  font-weight: 700;
  font-size: 16px;
  line-height: 140%;
  letter-spacing: 0.2px;
  color: #212121;
  margin-bottom: 16px;
  display: block;
}
.login-form > input[type="checkbox"] {
  display: none;
}
.login-form > input[type="checkbox"]:checked + label:before {
  background-color: #f89300;
  color: #fff;
  border: none;
  padding: 0.8px 5.8px;
}
.remember-text {
  cursor: pointer;
}
.remember-text::before {
  cursor: pointer;
  margin-right: 16px;
  border: 1px solid #707b81;
  padding: 0 5px;
  content: "\2714";
  color: transparent;
  border-radius: 5px;
  display: inline-block;
}
.input-wrapper {
  border-bottom: 1px solid #f89300;
  width: 100%;
  margin-bottom: 24px;
  padding-bottom: 8px;
  display: flex;
}
.input-wrapper > input {
  padding-left: 8px;
  outline: none;
  border: none;
  width: 90%;
  background-color: transparent;
}
.input-wrapper>svg{
  margin-left: 16px;
  cursor: pointer;
}
.login-btn-wrapper{
  width: 55%;
  margin: auto;
}
.login-btn {
  font-family: "Outfit";
  font-weight: 500;
  font-size: 20px;
  line-height: 25px;
  text-align: center;
  color: #f61b5a;
  background: #ffffff;
  border-radius: 31.5px;
  padding: 15px 0px;
  width: 100%;
  margin-top: 50px;
  margin-bottom: 33px;
  margin-right: auto;
  margin-left: auto;
}
/* Spinner */
@keyframes spinner {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.loading-spinner {
  width: 70px;
  height: 70px;
  border: 8px solid #fff; /* Light grey */
  border-top: 8px solid #383636; /* Black */
  border-radius: 50%;
  animation: spinner 1s linear infinite;
  /* background-color: #fff; */
}
